@xsmall-breakpoint: 500px;
@small-breakpoint: 768px;
@large-breakpoint: 1280px;
@mobile-padding-side: 2%;
@desktop-padding-side: 10%;

html {
    height: 100%; // ensures footer stays at bottom

    body {
        height: 100%; // ensures footer stays at bottom
        margin: 0;
    }

    font-size: 100%;

    @media (max-width: @xsmall-breakpoint) {
        font-size: 60%
    }

    @media (max-width: @small-breakpoint) and (min-width: @xsmall-breakpoint) {
        font-size: 80%;
    }

    @media (min-width: @large-breakpoint) {
        font-size: 125%;
    }

    h1, h2, h3, h4, h5, h6 {
    font-family: @title-font;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    }

    a {
        text-decoration: none;
    }
}




// See https://stackoverflow.com/questions/10825879/how-can-a-variable-height-sticky-footer-be-defined-in-pure-css
// Corresponds to wrapper class in link.
#__next {
    height: 100%;

    .root {
        display: flex;  /* use the flex model */
        min-height: 100%;
        flex-direction: column; 

        .page {
            flex: 1;
            background-color: @content-background;
            padding: 139px @desktop-padding-side @desktop-padding-side;
            
            @media only screen and (max-width: @small-breakpoint) {
                padding: 74px @mobile-padding-side @mobile-padding-side;
            }
        }
    }
}



.footer {
    background-color: @footer-background;
    display: table-row;
    height: 100%;
    padding: 10px @desktop-padding-side;

    @media only screen and (max-width: @small-breakpoint) {
        padding: @mobile-padding-side;
    }

    .social-links {
        a {
            color: @footer-tertiary;
            font-family: @title-font;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    .link-item {
        span {
            color: @footer-tertiary;
        }
        .donate {
            color: @footer-secondary;
        }
        font-family: @title-font;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .form {
        font-family: @content-font;
        color: @grey;
        font-size: 1.125rem;

        .ant-form-item {
            margin-bottom: 0px;
        }

        .ant-form-item-children {
            > button {
                font-family: @title-font;
                font-weight: bold;
                font-size: 1.5rem;
                color: @footer-white;
                background: @footer-secondary;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.ant-message {
    font-family: @content-font;
    bottom: 20px;
    top: initial;
}