.link-section {
    font-family: @title-font;
    font-weight: bold;
    background: @content-background-gray;
    padding: 50px;
    
    h1 {
        font-size: 7rem;
        margin-bottom: 0px;
        color: @content-title;
    }

    p {
        font-size: 2.25rem;
        color: @content-gray;
    }
}